<!DOCTYPE html>
<html>
  <head>
    <title>Login Page</title>
  </head>
  <body>
    <div class="loginPage">
      <div class="imgContainer">
            <h2 id="quote" class="centeredText">
                Those people who develop the <br> ability to continuously acquire <br> new and
                better forms of <br> knowledge that they can apply <br> to their lives will <br> be
                the movers and shakers in <br> our society for the indefinite <br> future
                <span id="author">- Brian Tracy <br> </span>
            </h2>
        </div>

      <div class="formContainer">
        <div class="backButton">
          &#8592;
        </div>

        <h2>LOGIN TO YOUR ACCOUNT</h2>
        <p>with your registered Email Address</p>

        <form action="/login">
          <!-- the path will be updated to the correct one -->
          <label for="email">Email Address:</label><br />
          <input type="email" id="email" name="email" /><br />
          <label for="pwd">Password:</label><br />
          <input type="password" id="pwd" name="pwd" /><br />
          <input type="checkbox" id="remember" name="remember" />
          <label for="remember">Remember me</label><br />
          <input type="submit" value="Login" />
        </form>

        <button class="googleBtn">Login with Google</button>
      </div>
    </div>
  </body>
</html>
