@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Georgia:ital@1&display=swap');

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


.loginPage {
    display: flex;
    height: 100vh;
}

.imgContainer {
    width: 50%;
    background: url('../../assets/login-img.png') ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: auto;
}

.centeredText {
    color: white;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-30%, -60%);
    text-align: center;
    line-height: 1.5;
}

.centeredText::before,
.centeredText::after {
    content: '”';
    font-size: 40px;
    color: blue;
}

#quote {
    font-family: 'Georgia', serif;
    font-size: 24px;
}

#quote::before,
#quote::after {
    content: '”';
    font-size: 40px;
    color: blue;
}

#author {
    color: #ddd;
    font-size: 20px;
    font-style: italic;
}

.formContainer {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
}

.backButton {
    color: purple;
    cursor: pointer;
}

h2 {
    color: black;
    font-weight: bold;
}

p {
    color: grey;
    font-size: small;
}

.googleBtn {
    background-color: white;
    color: black;
    width: 100%;
    border: none;
    text-align: left;
    padding: 10px;

}
