body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Disable default browser validation styles */
input:invalid {
  box-shadow: none;
}

input:focus:invalid {
  border-color: inherit !important;
  box-shadow: none !important;
}

/* Hide default validation message */
input::-webkit-validation-bubble-message {
  display: none;
}

input::-webkit-validation-bubble-icon {
  display: none;
}

/* For Firefox */
input:invalid-focus {
  outline: none !important;
  box-shadow: none !important;
}
