body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #f7f3f3bd;
  text-transform: capitalize;
  font-family: Arial, sans-serif; /* Change this to your preferred font */
}

.container h2 {
  color: grey;
  text-align: center;
  margin-bottom: 10px;
}

.container .small {
  text-align: center;
  font-size: 0.8em;
  color: grey;
  margin-bottom: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  position: relative;
  width: 24%;
  margin-bottom: 20px;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.card .card-title {
  position: absolute;
  top: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  text-align: center;
}
