

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-link {
  text-decoration: none; /* Removes the underline from the link */
  color: inherit; /* Makes the link color the same as the text color */
}

.card {
  position: relative;
  border:none;
  width: 18rem;
  user-select: none;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.card .card-title {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: rgb(29, 3, 3);
  text-align: center;
}
