<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    />
  </head>
  <body>
    <aside class="bg-light p-3">
      <h3>Dashboard</h3>
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" href="#"
            ><i class="fas fa-tachometer-alt"></i> Dashboard</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"
            ><i class="fas fa-life-ring"></i> Support</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"
            ><i class="fas fa-bell"></i> Notifications</a
          >
        </li>
        <li class="nav-item mt-auto">
          <a class="nav-link" href="#"
            ><i class="fas fa-sign-out-alt"></i> Log out</a
          >
        </li>
      </ul>
    </aside>
    <main class="container">
      <h2> Select Topic</h2>
      <p> Featured Category </p>
      <div class="row">
        <!-- card 1 -->
        <div class="col-lg-3 col-md-6 mb-4">
          <a href="your-link-here" class="card-link">
            <div class="card">
              <img src="assets/card1.png" class="card-img-top" alt="..." />
              <h5 class="card-title">Technology</h5>
            </div>
          </a>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
          <a href="your-link-here" class="card-link">
            <div class="card">
              <img src="assets/card2.png" class="card-img-top" alt="..." />
              <h5 class="card-title">Technology</h5>
            </div>
          </a>
        </div>

        <!-- card 3 -->
        <div class="col-lg-3 col-md-6 mb-4">
          <a href="your-link-here" class="card-link">
            <div class="card">
              <img src="assets/card3.png" class="card-img-top" alt="..." />
              <h5 class="card-title">Technology</h5>
            </div>
          </a>
        </div>

        <!-- card 4 -->
        <div class="col-lg-3 col-md-6 mb-4">
          <a href="your-link-here" class="card-link">
            <div class="card">
              <img src="assets/card4.png" class="card-img-top" alt="..." />
              <h5 class="card-title">Technology</h5>
            </div>
          </a>
        </div>
      </div>

      <!-- second row -->
      <div class="row">
        <!-- card 1 -->
        <div class="col-lg-3 col-md-6 mb-4">
          <a href="your-link-here" class="card-link">
            <div class="card">
              <img src="assets/card1.png" class="card-img-top" alt="..." />
              <h5 class="card-title">Technology</h5>
            </div>
          </a>
        </div>

        <!-- card 2 -->
        <div class="col-lg-3 col-md-6 mb-4">
          <a href="your-link-here" class="card-link">
            <div class="card">
              <img src="assets/card1.png" class="card-img-top" alt="..." />
              <h5 class="card-title">Technology</h5>
            </div>
          </a>
        </div>

        <!-- card 3 -->
        <div class="col-lg-3 col-md-6 mb-4">
          <a href="your-link-here" class="card-link">
            <div class="card">
              <img src="assets/card1.png" class="card-img-top" alt="..." />
              <h5 class="card-title">Technology</h5>
            </div>
          </a>
        </div>

        <!-- card 4 -->
        <div class="col-lg-3 col-md-6 mb-4">
          <a href="your-link-here" class="card-link">
            <div class="card">
              <img src="assets/card1.png" class="card-img-top" alt="..." />
              <h5 class="card-title">Technology</h5>
            </div>
          </a>
        </div>
      </div>
    </main>
  </body>
</html>
